$item-selected-bgcolor: #1A72B0
$item-bgcolor: #F7F8F9

.container
  display: flex
  flex-flow: row nowrap
  justify-content: flex-end

.item
  flex: 1
  border-radius: 3px 0 0 3px
  border: 1px solid #C2CAD0
  background-color: $item-bgcolor
  padding: 10px 20px 10px 20px

li
  display: inline
  padding: 5px
  font-family: Helvetica
  font-size: 14px
  color: grey
  letter-spacing: 0
  text-shadow: 0 1px 0 rgba(0,0,0,0.10)

.selected
  background-color: $item-selected-bgcolor
  color: white


