<div class="container">
  <div class="panel">
    <div class="left-side">
      <img class="poster"
      [src]="data.posterUrl" alt="" class="poster">
    </div>
    <div class="right-side">
      <span class="title"><strong>{{data.title}}</strong></span>
      <hr>
      <div class="subtitle">
        <span class="rate">{{data.rated}}</span>
        <span class="movie-duration">{{data.length}}</span>
        <span class="released">{{data.releasedOn}}</span>
      </div>
      <p>
        {{data.plot}}
      </p>
      <div class="footer">
        <span class="spacer"></span>
        <button class="panel-button primary"><strong>View on IMDB</strong></button>
      </div>
    </div>
  </div>
</div>

